main {
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    padding-bottom: 25px;
}

main{
    background-color: #000080;
    color: #f0f0f0;
}

body {
    background-color: #f0f0f0;
    margin-top: 0;
    margin-bottom: 0;
}

.back-to-top_wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top_link {
    padding: .2rem;
    position: fixed;
    top: calc(100vh - 5rem);
    background-color: #000080;
    color: #f0f0f0;
}

a {
    color: #f0f0f0;
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.header_aside {
    display: flex;
    background-color: #f0f0f0;
    color: #000080;
    border-style: double;
    border-width: 5px;
    border-color: #000080;
    align-items: center;
    justify-content: center;
}

.main_sec {
    display: flex;
    padding-bottom: 25px;
    justify-content:center;
}

aside {
    padding-left: 1rem;
}

h2, h3, ul, p{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: fight-to-the-finish-bb, sans-serif;
}

ul {
    padding-bottom: 25px;
}

h2 {
    padding-top: 0;
    margin-top: 0;
    line-height: .75;
}

.left {
    padding-right: 20px;
}

.right {
    border-style: solid;
    border-width: 1px;
    border-left-color: "f0f0f0";
    border-right-color: #000080;
    border-top-color: #000080;
    border-bottom-color: #000080;
}



