main {
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    padding-bottom: 25px;
}

main{
    background-color: #000080;
    color: #f0f0f0;
}

body {
    background-color: #f0f0f0;
}

.back-to-top_wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top_link {
    padding: .2rem;
    position: fixed;
    top: calc(100vh - 5rem);
    background-color: #000080;
    color: #f0f0f0;
}

a {
    color: #f0f0f0;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header_aside {
    display: flex;
    background-color: #f0f0f0;
    color: #000080;
    border-style: double;
    border-width: 5px;
    border-color: #000080;
    align-items: center;
    justify-content: center;
}

.section_aside {
    display: flex;
    padding-bottom: 25px;
    justify-content:center;
}

aside {
    padding-left: 1rem;
}

h1 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2, h3, ul, p{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    padding-bottom: 25px;
}

.figcap {
    line-height: .75;
    margin-top: 0;
    padding-top: 0;
}

hr {
    color: #f0f0f0;
    height: 2px;
    background-color: #f0f0f0;
}

h1 {
    font-family: fight-to-the-finish-bb, sans-serif;
}

.refs {
    display: flex;
    justify-content: center;
}

.js, .bw {
    padding-right: 25px;
}

