<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ktz1chy.css">
    <link rel="icon" type="image/png" href="/images/bg_favicon.png">
</head>
<body>
    {% include "header.njk" %}
    {% include "navigation.njk" %}
    <main>
        {% include "card.njk" %}
        <div id="work">
            <div class="work">
                {{ content | safe }}
            </div>
            <div>
                {% include "ref.njk" %}
            </div>
        </div>
    </main>
    {% include "footer.njk" %}
</body>
</html>