<section>
    <img src="/images/redhead.jpg" alt="redhead" width="300px" class="profile">
    <div class="card-side">
        <div>
            <h2 id="contact">Contact information</h2>
            <p><b>Phone:</b> +(1) 1966 1966</p>
            <p><b>Email:</b> barbara@gordon.it</p>
            <p><b>Twitter:</b> @babsgordon</p>
            <h2 id="skills">Skills</h2>
            <p>Highly reliable eidetic memory</p>
            <p>Trained in several martial arts</p>
            <p>Extremely proficient with computers</p>
            <p>Fluent in English and Spanish</p>
            <h2 id="edu">Education</h2>
            <p>Ph.D in library science, Gotham State University</p>
            <p>Ph.D in history, Gotham State University</p>
            <p>Master of laws, Harvard University</p>
        </div>
    </div>
</section>