<footer>
    <p>Innehållet på sidan är &copy; <a href="https://www.dccomics.com/" target="_blank" rel="noreferrer noopener">DC comics</a>.</p>
    <p>Den här sidan är skapad för utbildningssyfte i kurserna Webbutveckling 2 och Webbserverprogrammering 1.</p>
</footer>