<nav>
    <ul>
        <li><a href="/">Work experience</a></li>
        <li><a href="/">Education</a></li>
        <li><a href="/">Skills</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">References</a></li>
    </ul>
</nav>