<nav>
    <ul>
        <li><a href="#work">Work experience</a></li>
        <li><a href="#edu">Education</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#ref">References</a></li>
    </ul>
</nav>