<div id="ref" class="refs">
    <div class="ref">
        <b>Julius Schwartz</b>
        <p>First employer</p>
        <p>Phone: +(1) 6691 6691</p>
        <p>Email: julius@schwartz.dc</p>
    </div>

    <br>

    <div class="ref">
        <b>Bruce Wayne</b>
        <p>Previous employer</p>
        <p>Phone: +(1) 2345 6789</p>
        <p>Email: brucewayne@work.we</p>
    </div>

    <br>

    <div class="ref">
        <b>Commissioner Jim Gordon</b>
        <p>Father</p>
        <p>Phone: +(1) 1966 6691</p>
        <p>Email: jim.gordon@gcpd.cop</p>
    </div>
</div>